body {
  font-family: sans-serif;
  background-image: url("fruits.jpg");
  background-repeat: no-repeat;
}

#main_content {
  width:800px;
  margin:0 auto;
}

header {
  text-align: center;
}

.team {
  width: 50%;
  height: 200px;
  float: left;
}

.team1 {
  background-color: tomato;
}

.team2 {
  background-color: plum;
}
footer {
  text-align: center;
}